@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url("../images/background.jpg");
	margin: 0px;
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}	

#menu ul{
	list-style: none;
		
}

#menu ul li{
	background-color: darkblue;
	width: 200px;
	height: 50px;
	border: 1px solid lightgreen;
	line-height: 50px;
	text-align: center;
	float: left;
	font-size: 15px;
	color: white;	
}

#menu ul li:HOVER {
	background-color: aqua;
}

#menu ul li:HOVER ul {
	display: block;
}

#menu ul ul {
	display: none;
}