<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/script.js}"></script>

<script>
var htud;
var vtud;
var ud;

function loadMatches() {
	var l = $("#leaguesList").val();
	var id = document.getElementById("leagues").options.namedItem(l);
	ud = $(id).data("id");
	var uri = '/admin/matches/' + ud;
	loadMatchesToDropdown(uri);
}

function loadMatch() {
	var l = $("#matchesList").val();
	var id = document.getElementById("matches").options.namedItem(l);
	console.log(id);
	htud = $(id).data("hteam");
	vtud = $(id).data("vteam");
	var uri = '/admin/match/' + htud + '/' + vtud;
	console.log(htud+' '+vtud)
	loadMatchToForm(uri);
}
</script>

</head>
<body onload="loadLeaguesToDropdown('/user/leagues')" >
 
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">MAB</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/home">Strona główna</a></li>
      <li><a href="/leagues">Ligi</a></li>
      <li><a href="/bestScorers">Najlepsi strzelcy</a></li>
      <li><a href="/bestAssistants">Najlepsi asystenci</a></li>
      <li><a href="/bestGoalkeepers">Najlepsi bramkarze</a></li>
      <li class="active"><a href="/addMatch">Dodaj mecz</a></li>
      <li><a href="/makeTransfer">Zrób transfer</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
	<div class="jumbotron">
	<h3>Dodaj mecz</h3>
	
	<form method="post">
		<div class="row">
			<div class="col-sm-5">
		  	<input id="leaguesList" onchange="loadMatches();" class="form-control input-lg" list="leagues" name="leaguesList" placeholder="Liga"/>
  			<datalist id="leagues">
  			</datalist>
  			</div>
			<div class="col-sm-1">
  			</div>
  			<div class="col-sm-5">
		  	<input id="matchesList" class="form-control input-lg" onchange="loadMatch();"  list="matches" name="matchesList" placeholder="Mecz"/>
		  	
  			<datalist id="matches">
  			</datalist>
  			 
  			</div>
		</div>
		<div class="row">
			<div class="col-sm-11">
  				<hr style="border: 1px solid #9a9a9a" />
  			</div>
  		</div>
		<div class="row">
    		<div class="col-sm-4"><input type="text" class="form-control input-lg" style="text-align:right" id="team1" placeholder="Gospodarze"></input></div>
    		<div class="col-sm-1"><input type="text" class="form-control input-lg"  style="text-align:right" id="team1score"></input></div>
    		<div class="col-sm-1"><p align="center"><font size="6">:</font></p></div>
    		<div class="col-sm-1"><input type="text" class="form-control input-lg" id="team2score"></input></div>
    		<div class="col-sm-4"><input type="text" class="form-control input-lg" id="team2" placeholder="Goście"></input></div>
    	</div>
    	<div class="row">
    		<div class="col-sm-4">
    			<br />
    			<input type="datetime-local" class="form-control" id="dateandtime" placeholder="Data i godzina"></input>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-sm-4">
    			<br />
    			<input type="text" class="form-control" id="stadium" placeholder="Stadion"></input>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-sm-4">
    			<h4><br />Bramki:</h4>
    		</div>
    	</div>
    	<div id="scorers">
    	</div>
    	<datalist id="players">
    	</datalist>
    	<div class="row">
    		<div class="col-sm-4">
    			<br />
    			<button type="button" class="btn" onclick="addGoal('/admin/persons/team/', htud, vtud)">Dodaj bramkę</button>
    		</div>
    	</div>    	
    	<div class="row">
    		<div class="col-sm-4">
    		    <br />
    			<br />
    			<br />
    			<br />
    			<br />
    			<br />
    			<br />
    			<br />
    			<button type="button" onclick="addMatch('/admin/addMatch')" class="btn btn-primary">Dodaj mecz</button>
    		</div>
    	</div>
	</form> 
	</div>
</div>
</body>
</html>