<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Insert title here</title>
<script type="text/javascript"
	src="webjars/jquery/3.2.1/dist/jquery.min.js">

</script>
<script type="text/javascript" th:src="@{/script.js}"></script>
</head>
<body onload="loadBestScorersList('/user/bestScorers')">  


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">MAB</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/home">Strona główna</a></li>
      <li><a href="/leagues">Ligi</a></li>
      <li class="active"><a href="/bestScorers">Najlepsi strzelcy</a></li>
      <li><a href="/bestAssistants">Najlepsi asystenci</a></li>
      <li><a href="/bestGoalkeepers">Najlepsi bramkarze</a></li>
      <li ><a href="/addMatch">Dodaj mecz</a></li>
      <li><a href="/makeTransfer">Zrób transfer</a></li>
    </ul>
  </div>
</nav>

<div id="container">
	<h3>Najlepsi strzelcy</h3>
	<table id="bestScorersTable" class="table table-striped">
		<thead class="thead-light">
		<tr>
			<th>#</th>
			<th>Zawodnik</th>
			<th>Liczba bramek</th>
			<th>Liczba asyst</th>
			<th>Liczba bramek z karnych</th>
		</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>


</body>
</html>