<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<script type="text/javascript"
	src="webjars/jquery/3.2.1/dist/jquery.min.js">

</script>
<script type="text/javascript" th:src="@{/script.js}"></script>
</head>
<body onload="">  
	<p>Ekstraklasa 1</p>
	<table id="bestScorersTable">
		<tr>
			<th>#</th>
			<th>Drużyna</th>
			<th>Liczba puktów</th>
			<th>W</th>
			<th>P</th>
			<th>R</th>
			<th>Bilans</th>
		</tr>
	</table>

</body>
</html>