<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<script type="text/javascript"
	src="webjars/jquery/3.2.1/dist/jquery.min.js">

</script>
<script type="text/javascript" th:src="@{/script.js}"></script>
</head>
<body onload="">
	<p>Zrób transfer</p>
	<form action="#" th:action="@{/seedstartermng}"  method="post">
    	<input type="text" />-->
    	<input type="text" />
    	<p></p>
    	Zawodnik<input type="text" />
    	<p></p>
    	<button type="button">OK</button>
	</form>
</body>
</html>