<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<script type="text/javascript"
	src="webjars/jquery/3.2.1/dist/jquery.min.js">

</script>
<script type="text/javascript" th:src="@{/script.js}"></script>
</head>
<body onload="">
	<p>Zrób transfer</p>
	<div class="makeTransferForm">
         Zawodnik:        
           <input  id="person" ></input> 			>> transferuj do >>      
           <input  id="team2" ></input>
           <br></br>
        <button type="button" onclick="makeTransfer();">Zrób transfer</button>
	</div>
	
	

	
	<script>
    var makeTransfer = function () {
        var team2 = document.getElementById('team2').value;
        var person = document.getElementById('person').value;
        $.ajax({
            type: 'PUT',
            url: 'http://localhost:8080/admin/makeTransfer/' + person + '/' + team2,
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({
                person: person,
                team2: team2,
            })
        });
    };
</script>
</body>
</html>